behave==1.2.5
wooper==0.4.2
gunicorn==19.3.0
honcho==0.6.6

git+git://github.com/superdesk/eve@75aa97d#egg=Eve==0.6.0-dev
-e git+git://github.com/superdesk/superdesk-core@9815962#egg=Superdesk-Core==0.0.1-dev
